@import "susy", "breakpoint"

$flixpress-red: #C20016
$alt-color: #4B8E8B
$body-color: white
$squares-color: #eee
$square-border: #ddd
$base-font-size: 16px
$show-table-size: 800px
$feature-text-color: #000

$lg: 1200px
$md: 992px
$sm: 768px
$xs-only: (0 767px)
