@import "base-includes"

#pagination .disabled
  background-color: #dcdcdc
  cursor: default


#previous,
#next
  background-color: #84ff76
  cursor: pointer


#results_list,
#selected_list,
#hard_drive_images
  > div
    display: inline-block
    margin: 12px
    border: solid 1px black

    padding: 6px
    background-color: white


.imageWrap
  width: 120px
  height: 90px
  overflow: hidden
  > img
    width: 120px
    height: auto


#selected_list, #hard_drive_images
  background-color: #dcdcdc