.flixpress-full-modal
  box-sizing: border-box
  width: 100%
  background-color: white
  height: 100%
  position: fixed
  top: 0
  left: 0
  scroll: auto
  border-top: 2px solid grey
  padding: 10
  padding-top: 51
  overflow: auto
  z-index: 1000

.flixpress-modal-toolbar
  box-sizing: border-box
  height: 41
  width: 100%
  padding: 5
  background-color: #eee
  border-bottom: 1px solid #ccc
  position: fixed
  top: 0
  left: 0
  z-index: 1001

  img
    max-height: 100%

.flixpress-modal-close-button
  box-sizing: border-box
  cursor: pointer
  position: relative
  height: 30
  margin: 0
  padding: 6
  background-color: white
  float: right
