@import 'compass/utilities/general/clearfix'

.info-sliders
  +clearfix()
  position: relative
  width: 100%
  border: 1px solid red
  .info-slider
    &.subject
      width: 33.33%
      float: left
      clear: left
      border: 1px solid black
    &.details
      width: 66.66%
      float: left