@import 'compass/utilities/general/clearfix'
@import 'base-includes'

.affiliate-program-page
  .page-content
    font-size: 1.6em
  
  h2
    text-transform: uppercase
    text-align: center
    font-weight: bold
    font-size: 2.1em
    margin-bottom: 36px
    
  h3
    font-weight: bold
    font-size: 1.3em
    
  img.icon
    margin: 12px auto
    width: 145px
    max-width: 100%
    display: block
    
  .affiliate-description p
    font-weight: bold
    margin-top: 36px
  
  .page-content .row
    border-bottom: 1px solid #777
    padding: 36px 0
  
    &.affiliate-description
      border-bottom: 5px solid $flixpress-red
      padding-bottom: 12px
      
      img.icon
        width: 245px

  .join-box
    width: 100%
    text-align: center
    &.last
      margin-top: 36px
    .affiliate-button
      font-size: 1.4em
      padding: 15px 60px
    .alternate-option
      font-weight: lighter
      font-size: 0.75em
      margin: 12px auto
      a, a:visited, a:link
        border-bottom: 1px solid rgb(2,139,255)
        &:hover
          border-color: #23527c
      